body {
  font-family: "Rubik", sans-serif;
  background: rgb(217, 217, 217);
}
.dataset {
  margin: 50px auto 50px auto;
}
.formdata {
  margin: 0 auto;
  border-radius: 10px;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0 0 18px 0;
}

legend {
  font-size: 22px;
  color: #080e45;
  font-weight: bold;
  text-align: left;
  margin-bottom: 14px;
}

fieldset {
  border: none;
  margin-top: 30px;
}

fieldset .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}
.group {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.group label {
  text-align: left;
  font-size: 16px;
  color: #333;
}

.group input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: 0.5px solid #777;
}
.button-submit {
  margin-top: 30px;
  background: #ff8314;
  color: #fff;
  font-weight: bold;
  height: 40px;
  width: 250px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  align-self: center;
}
.button-submit:hover {
  background: #080e45;
  transition: background 0.2s linear;
}

@media screen and (max-width: 999px) {
  .dataset {
    padding: 0;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .formdata {
    width: 100%;
    padding: 20px;
  }

  fieldset .content {
    display: flex;
    flex-direction: column;
  }
}
