* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
body {
    padding-top: 15vh;
    background: rgb(217, 217, 217);
    text-align: center;
}
.logo {
    height:100px;
    width: 120px;
    margin-top: 20px;
}
h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #080e45;
    text-transform: uppercase;
}
#main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255, 255, 255); 
    border-radius: 10px;
    padding: 30px;
}
.infor-label {
    font-size: 15px;
    color: rgb(58, 58, 58);
    font-weight: bold;
    text-align: start;
    margin: 5px;
}
.login {
    padding: 15px;
    margin-bottom: 35px;
    border: solid 1.5px #333;
    border-radius: 8px;
    text-align: start;
}

input, label {
    display: block;
    width: 100%;
}
input:focus, label:focus {
    outline: none;
}
#link-password {
    text-align: end;
}
#link-password a {
    text-decoration: none;
    color: rgb(9, 9, 199);
    font-size: 15px;
}
#link-password a:hover {
    color: rgb(9, 9, 199);
    text-decoration: underline;
}
#access {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 13px;
    width: 353px;
    border-radius: 50px;
    background-color: #080e45;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border: none;
}