body {
    font-family: "Rubik", sans-serif;
}
.modal-container {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    max-width: 500px;
    position: relative;
}
.close {
    position: absolute;
    top: 0;
    right: 5px;
    border: none;
    color: #080e45;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
}
.modal-title {
    font-size: 27px;
    margin-top: 40px;
    color: #080e45;
}
.modal-subtitle {
    font-size: 18px;
    color: #090808;
    font-weight: normal;
}
